*{
    background-color: rgb(255, 252, 252);
    color:rgb(16, 16, 16);
    justify-content: center;
}
h1{
    justify-content: center;
}
table{
    border: 1px solid rgb(5, 5, 5);
    justify-content: center;
    block-size: auto;
}
tr, th, td{
    border: .5px solid rgb(11, 10, 10);
    border-radius: 3px;
    width: 100px;
    justify-content: center;
    /* background-color: ; */
    transition: 0.5s;
}
th:hover{
    background-color: rgb(125, 126, 126);
}